<h1>Informacion del usuario</h1>
<hr />

<div class="row">
  <div class="col-4">
    <h3>Usuario Actual: {{ userId() }}</h3>

    <button (click)="loadUser(userId() - 1)" class="btn btn-primary">
      Anterior
    </button>
    &nbsp;
    <button (click)="loadUser(userId() + 1)" class="btn btn-primary">
      Siguiente
    </button>
    &nbsp;
  </div>

  <div class="col-8" *ngIf="CurrentUser()">
    <h3>Usuario: </h3>
    <p>Correo: {{CurrentUser()!.email}}</p>
    <p>Nombre: {{CurrentUser()!.first_name}}</p>

    <img [src]="CurrentUser()!.avatar" alt="Avatar" class="rounded-3"/>
  </div>

  <div class="col-8 text-danger">
    <h3>Usuario no encontrado</h3>
  </div>
</div>
