<h1>Agregar producto</h1>
<hr />

<form action="" [formGroup]="myForm">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label for="">Nombre</label>
    </div>
    <div class="col-auto">
      <input formControlName="name" type="text" name="" id="" class="form-control" />

    </div>
    <div class="col-auto">
      <span>Infomacion</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-warning">Cambiar color</button>
    </div>
  </div>
</form>

<pre class="mt-5">{{ myForm.get("name")?.errors | json }}</pre>
