<h1>Agregar producto</h1>
<hr />

<form action="" [formGroup]="myForm">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label for="">Nombre</label>
    </div>
    <div class="col-auto">
      <input
        formControlName="name"
        type="text"
        name=""
        id=""
        class="form-control"
      />
    </div>
    <div class="col-auto">
      <!-- Directiva Personalizada -->
      <span
        customLabel
        [color]="color"
        [errors]="myForm.get('name')?.errors"
        class="fs-3 fw-bolder"
        >Temporal</span
      >
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="changeColor()" type="button" class="btn btn-warning">
        Cambiar color
      </button>
    </div>
  </div>
</form>

<pre class="mt-5">{{ myForm.get("name")?.errors | json }}</pre>
<p>Color: {{ color }}</p>
