<h1>Mutaciones</h1>
<hr />

<div class="row">
  <div class="col-4 input-group flex-nowrap mb-2">
    <span class="input-group-text" id="addon-wrapping">📬 </span>
    <input
      #txtEmail
      type="text"
      class="form-control"
      (input)="onFieldUpdated('email', txtEmail.value)"
      [value]="user().email"
      placeholder="email"
      aria-label="Username"
      aria-describedby="addon-wrapping"
    />
  </div>

  <div class="col-4 input-group flex-nowrap mb-2">
    <span class="input-group-text" id="addon-wrapping"> 🌟</span>
    <input
      #txtFirstName
      type="text"
      class="form-control"
      (input)="onFieldUpdated('first_name', txtFirstName.value)"
      [value]="user().first_name"
      placeholder="First Name"
      aria-label="Username"
      aria-describedby="addon-wrapping"
    />
  </div>

  <div class="col-4 input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping"> 🌟</span>
    <input
      #txtLastName
      type="text"
      class="form-control"
      (input)="onFieldUpdated('last_name', txtLastName.value)"
      [value]="user().last_name"
      placeholder="Last Name"
      aria-label="Username"
      aria-describedby="addon-wrapping"
    />
  </div>
  <div class="col-6">
    <pre>{{ user() | json }}</pre>
    {{ fullName() }}
    <button  (click)="inCreaseBy(+1)" class="btn btn-warning" type="button">
      +1
    </button>
  </div>
</div>
